modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]

[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[workflows]
runButton = "Start App"

[[workflows.workflow]]
name = "Run"
author = 40962122
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --port 5000 --host 0.0.0.0"

[[workflows.workflow]]
name = "Deploy"
author = 40962122
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install --legacy-peer-deps"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[workflows.workflow]]
name = "Run on Port 5000"
author = 40962122
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --port 5000 --host 0.0.0.0"

[[workflows.workflow]]
name = "Run on Port 5001"
author = 40962122
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --port 5001 --host 0.0.0.0"

[[workflows.workflow]]
name = "Run on Port 5002"
author = 40962122
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --port 5002 --host 0.0.0.0"

[[workflows.workflow]]
name = "Run on Port 5003"
author = 40962122
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --port 5003 --host 0.0.0.0"

[[workflows.workflow]]
name = "Start App"
author = 40962122
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --port 5005 --host 0.0.0.0"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 5002
externalPort = 3002

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081
